<module>
	<rawname>phpinfo</rawname>
	<name>PHP Info</name>
	<version>1.0</version>
	<type>tool</type>
	<category>Basic</category>
	<menuitems>
		<phpinfo>PHP Info</phpinfo>
	</menuitems>
	<location>release//2.2/phpinfo-1.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-phpinfo</info>
	<md5sum>1b71e570164168090fe3f04464a549c4</md5sum>
</module>
