<module>
	<rawname>phpinfo</rawname>
	<name>PHP Info</name>
	<version>1.1.0.1</version>
	<changelog>
		*1.1.0.1* bump for rc1
		*1.1.0* #1442 remove access problem and iframe
	</changelog>
	<type>tool</type>
	<category>System Administration</category>
	<menuitems>
		<phpinfo>PHP Info</phpinfo>
	</menuitems>
	<location>release/2.3/phpinfo-1.1.0.1.tgz</location>
	<md5sum>00dbb7252b3da7f78c36187a4322f879</md5sum>
</module>
